/* Add screen styles below */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');


h1 {
    margin: 30px 390px 0 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
}

html.sr .header {
    visibility: hidden;
  } 

#divCentering {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

html.sr #divCentering {
    visibility: hidden;
  } 

img {
    height: auto; 
    width: auto; 
    max-width: 500px; 
    max-height: 500px;
}

.imgThree {
  perspective: 800px;
}

/* html.sr .imgOne {
    visibility: hidden;
  }

  html.sr .imgTwo {
    visibility: hidden;
  }

  html.sr .imgThree {
    visibility: hidden;
  }

  html.sr .imgFour {
    visibility: hidden;
  }

  html.sr .imgFive {
    visibility: hidden;
  } */

  /* html.sr .imgOne .imgTwo .imgThree .imgFour .imgFive {
    visibility: hidden;
  } */

