/* Add screen styles below */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');


h1 {
    margin: 30px 390px 0 0;
    font-family: 'Inter', sans-serif;
}

#divCentering {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: auto; 
    width: auto; 
    max-width: 500px; 
    max-height: 500px;
}

html.sr .img {
    visibility: hidden;
  }
